<?php
use yii\helpers\Url;
use yii\widgets\LinkPager;
use yii\widgets\ActiveForm;
?>
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/content.css" />
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<body marginwidth="0" marginheight="0">
	<div class="container" style="background-color:#f0f8fd;border: 1px solid #ccc;">
		<div class="public-nav">您当前的位置：<a href="">广告管理</a>><a href="" style="color:blue">广告列表</a></div>
		<div class="public-content">
			<div class="public-content-cont">
				<?php
				$form = ActiveForm::begin([
				  'action' => ['ad/index'],
				  'method'=>'get'
				]) ?>
					到期时间：
					<select name="d_time">
						<option value="0">不限</option>
						<option value="1">已经到期</option>
						<option value="259200">三天到期</option>
						<option value="604800">一周到期</option>
					</select>
					显示状态：
					<select name="status">
						<option value="0">不限</option>
						<option value="1">正常</option>
						<option value="2">停止</option>
					</select>
					广告位：
					<select name="cate">
					<option value="0">请选择</option>					
					<?php 
					foreach($adcategory as $k=>$v){ 
					?>					
						<option value="<?=$v['category_id']?>"><?=$v['categoryname']?></option>
                    <?php } ?>						
					</select>
					<input type="submit" value="搜索">
				<?php ActiveForm::end() ?>
				<table class="public-cont-table">
					<tr>
						<th style="width:20%"><input type="checkbox" name="check_all">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广告标题</th>
						<th style="width:15%">所属广告位</th>
						<th style="width:8%">开始时间</th>
						<th style="width:8%">到期时间</th>
						<th style="width:8%">状态</th>
						<th style="width:8%">排序</th>
						<th style="width:8%">广告logo</th>
						<th style="width:25%">操作</th>
					</tr>
					<tbody class='type'>
					<?php
						foreach($ad as $k=>$v){
						?>
							<tr id="<?=$v['ad_id']?>">
							<td align="left">
							<input type="checkbox" value="<?=$v['ad_id']?>" name="t_id">
							<?=$v['title']?>
							</td>
							<td><?=$v['categoryname']?></td>
							<?php
								if($v['starttime']==0){
								 echo '<td>无限制</td>';
								}else{
									echo '<td>'.date('Y-m-d',$v['starttime']).'</td>';
								}
								if($v['deadline']==0){
								 	echo '<td>无限制</td>';
								}else{
									echo '<td>'.date('Y-m-d',$v['deadline']).'</td>';
								}
								if($v['is_display']==1){
								 	echo '<td>正常</td>';
								}else{
									 echo '<td>停止</td>';
								}
							?>
							<td><?=$v['show_order']?></td>
							<td><img src="<?=$v['img_url']?>" style='width: 80px;'></td>			
							<td>
								<div class="table-fun">
									<a href="<?=Url::to(['ad/update-ad','id'=>$v['ad_id']])?>" style="background-color:#ccc;width: 50px;text-align: center;border: 1px solid black;">修改</a>
									<a href="javascript:;" style="background-color:#ccc;width: 50px;text-align: center;border: 1px solid black;" id='del'>删除</a>
								</div>
							</td>
							</tr>
							<?php
						}
					?>
					<p>&nbsp;&nbsp;</p>
					<div class="table-fun">
					<a class='del_all' style="background-color:#ccc;width: 80px;text-align: center;border: 1px solid black;">删除所选</a>
					</div>	
					<p>&nbsp;&nbsp;</p>					
					</tbody>					
				</table>
				<div class="page">
				<?php
				echo LinkPager::widget([
				    'pagination' => $pages,
				]);
				?>
				</div>			
			</div>
		</div>
	</div>
</body>
<script>
$(function(){	
      //全选 全不选
    $(document).on('click','input[name=check_all]',function(){
        if($(this).prop('checked')==true){
          $('input[name=t_id]').prop('checked',true) ;
        }else{
            $('input[name=t_id]').prop('checked',false) ;
        }
    });
    // 批删  button
    $(document).on('click','.del_all',function(){
        var obj=$(this);
        var tr=$('input[name=t_id]');
        var str='';
        for(var i=0;i<tr.length;i++) {
            if (tr.eq(i).prop('checked') == true) {
                str+=','+tr.eq(i).val();
            }
        }
        str=str.substr(1);
        if(str!=''){
            var res=window.confirm('你到底删不删啊！！！');
            if(res){             
            $.ajax({
            type:'get',
            url:"<?=Url::to(['ad/cate-del'])?>",
            data: {
                'ids': str
            },
            dataType:'json',
            success:function(msg){
                if(msg==1){
                    alert('删除成功');
                    for(var i=0;i<tr.length;i++) {
                            if (tr.eq(i).prop('checked') == true) {
                               tr.eq(i).parents('tr').remove();
                            }
                        }
                }else{
                    alert('删除失败');
                }
            }
        }) 
    }
    }else{
        alert('请选择要删除的广告');
    } 
    });
    // 单删  
    $(document).on('click','#del',function(){
       var res=window.confirm('你到底删不删啊！！！');
        if(res){
           var obj=$(this);
           var str=obj.parents('tr').attr('id');
            $.ajax({
                type:'get',
                url:"<?=Url::to(['ad/ad-delete'])?>",
                data: {
                    'ids': str
                },
                dataType:'json',
                success:function(msg){
                    if(msg==1){
                    	alert('删除成功');
                    	obj.parents('tr').remove();
                    }else{
                        alert('删除失败');
                    }
                }
            })
        }
    });
})
</script>