
<div id="container">   	
    <div class="content_mid">
    	<dl class="c_section c_section_mid">
    		<dt>
                <h2><em></em>联系我们</h2>
            </dt>
            <dd class="aboutus"> 
            	<img alt="拉勾网团队" src="style/images/about3.jpg" width="186" height="186" />
            	<div>
            		<span>Follow Me（隶属于北京Follow Me网络技术有限公司）是专注互联网职业机会的招聘网站，以众多优质互联网资源为依托，发布圈内招聘信息，为求职者提供人性化、个性化、专业化的信息服务，以让优质人才和优秀企业及时相遇为己任。</span>
					<span>我们是一个热爱互联网的年轻团队，我们用责任来做这件事情，致力于打造最专业的互联网招聘平台。</span>
            	</div>
            	<ul class="reset contact_box">
                	<li class="cli1">
                			<p>商务合作：</p>
							邮箱：<a href="mailto:pqzhao@lagou.com">mm@163.com</a><br>

							地址：北京市海淀区北京八维研修学院
                		</li>
                	<li class="cli2">
            			增值服务：<br />
						邮箱：<a href="mailto:bill@lagou.com">bill@lagou.com</a><br />
            		</li>
            		<li class="cli3">
            			客服邮箱：<a href="mailto:vivi@lagou.com">632179652@qq.com</a><br />
						电话：17600821385(24小时在线)<br />
						<span>
                        可点击右侧客服
							<!-- WPA Button Begin -->
							<!-- <script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDA1NjM3OV8xNDUzODBfODAwMDU2Mzc5Xw"></script> -->
							<!-- WPA Button End -->
						</span>
            		</li>
            	</ul>
            </dd>
        </dl>
   	</div>
		<div class="clear"></div>
		<input type="hidden" id="resubmitToken" value="" />
    	<a id="backtop" title="回到顶部" rel="nofollow"></a>
    </div><!-- end #container -->
</div><!-- end #body -->

<script type="text/javascript" src="style/js/core.min.js"></script>
<script type="text/javascript" src="style/js/popup.min.js"></script>
<script type="text/javascript" src="style/js/tongji.js"></script>
<!--  -->
<script type="text/javascript" src="style/js/analytics.js"></script>
</body>
</html>