<div class="content">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link rel="stylesheet" href="css/user_common.css" />
<link rel="stylesheet" href="css/user_company.css" />
<link rel="stylesheet" href="css/ui-dialog.css" />
<script src="js/jquery.js"></script>
<script src="js/dialog-min.js"></script>
<script>
	$(document).ready(function() {
		// 顶部筛选
		$('.data-filter').on('click', function(e){
			$(this).find('.filter-down').toggle();
			// 动态设置下拉列表宽度
			var fWidth = $(this).find('.filter-span').outerWidth(true) - 2;
			$(this).find(".filter-down").width(fWidth);
			// 点击其他位置收起下拉
			$(document).one("click",function(){
				$('.filter-down').hide();
			});
			e.stopPropagation();
			//点击下拉时收起其他下拉
			$(".data-filter").not($(this)).find('.filter-down').hide();
		});
		//查看弹出
		$('.check-detail').on('click', function(){
			var log_value =  $(this).attr('log_value');
			dialog({
				title: '详情',
				content: log_value,
				width:350
			}).showModal();
		})
	});
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 会员服务</div>
	<div class="usermain">
		<div class="leftmenu com link_bk">
			
		</div>
		<div class="rightmain">
			<div class="bbox1 my_account">
				<div class="topnav get_resume">
					<div class="titleH1"><div class="h1-title">我的账户</div></div>
<div class="navs link_bk">
	<a href="company_service.php?act=j_account" class="se"我的积分</a>

	<div class="clear"></div>
</div>
				</div>
				<div class="account-wrap">
					<div class="atb-ie7">
<div class="account-top-block ">
	<div class="account-state f-left">账户状态</div>
	<div class="a-state-content f-left">
	<?php foreach ($arr as $key => $value): ?>
	<span class="account-type last">当前积分：<span><?= $value['points']?></span>点
	<?php endforeach ?>
		<a href="index.php?r=category%2Findent" class="underline">积分充值</a></span>

	</div>
</div>
					</div>
					<div class="account-ctrl-bar clearfix">
						<h3 class="f-left">积分规则</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

						<a href="#" class="f-right underline">积分消费明细</a>
					</div>
<div class="company-data-list">

<?php foreach ($info as $key => $value): ?>
<div class="c-data-row">
<div class="c-data-content account-d clearfix">
	<div class="c-item f-left content1"><?= $value['log_value']?></div>
	<div class="c-item f-left content3"><span class="lost-number {#if $list.log_op_used>=0#}add{#else#}less{#/if#}"></span></div>
	<div class="c-item f-left content4"><span class="data-time"></span></div>
	<div class="c-item f-left content5"><a href="javascript:;" class="data-ctrl underline check-detail" log_value="{#$list.log_value#}"></a></div>
	<div class="c-item f-left content2">
	<?php
		if($value['log_ismoney'] ==0){
			echo "消耗";
		}else{
			echo "增加";
		}
	?>
	</div>
</div>
</div>
<?php endforeach ?>
<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
</table>


					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
</body>
</html>