<div class="content">
<title>{#$title#}</title>
<link href="css/user_common.css" rel="stylesheet" type="text/css" />
<link href="css/user_company.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
  //计算获得积分数量
  $("#week").keyup(function(){
    money = $(this).val();
    $("#show_val").html(money*10)
    $("#show_m").val(money*10)
// 这段代码可以给ID为someElement的元素增加属性anyAttribute 属性值为anyValue
// 属性名字随便写都可以 想写什么都行 如果属性名字存在会修改里面的值 否则就新加属性

  });
  $("#Form1").validate({
 //debug: true,
// onsubmit:false,
//onfocusout :true,
   rules:{
   week:{
    required: true,
  digits:true,
  min:1
   },
   payment_name:{
    required: true
   }
  },
    messages: {
    week: {
    required: "请输入展示期限",
  digits: "展示期限必须是整数",
    min: jQuery.format("展示期限不能低于1周")
   },
   payment_name:{
    required: "请选择支付方式"
   }
  },
  errorPlacement: function(error, element) {
    if ( element.is(":radio") )
        error.appendTo( $("#pay_er"));
    else if ( element.is(":checkbox") )
        error.appendTo ( element.next());
    else
        error.appendTo(element.parent());
  }
    }); 
})
</script>
</head>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>

<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 增值服务</div>

<div class="usermain">
  <div class="leftmenu  com link_bk">
  	 
  </div>

<div class="rightmain">
  
 	<div class="bbox1 link_bk my_account intrgration">
		<div class="topnav">
      <div class="titleH1"><div class="h1-title">增值服务</div></div>
      <div class="navs link_bk clearfix">
        <a href="company_service.php?act=adv_list" class="se">申请广告位</a>
      </div>
    </div>

	 	<div style="height:30px;"></div>
  		<div class="bar">
  			<div class="bar_step1">
  				<p>填写订单</p>
  			</div>
  			<div class="bar_step2 hui">
  				<p>确认订单</p>
  			</div>
  			<div class="bar_step3 hui">
  				<p>提交订单</p>
  			</div>
  		</div>
      <form id="Form1" name="Form1" method="post" action="index.php?r=category/add" enctype="multipart/form-data" >
  		<div class="intrgration_box" style="margin:0 30px">
  			<table>
  				<tbody>
  					<tr>
  						<td height="30" width="100">广告位名称：</td>
  						<td><strong><?= $category_name?></strong>
  <input type="hidden"  name="guanggao" id="guanggao" value="<?= $category_name?>">
              

              </td>
  					</tr>
  					<tr>
  						<td height="30" width="100">展示期限：</td>
  						<td><input type="text" name="week" id="week" class="input_text_100"/>&nbsp;&nbsp;周</td>
  					</tr>
            <tr id="count">
              <td height="30" width="100">应付金额：</td>
              <td><span id="show_val" name='show_val'>0</span> 元 <span style="display:none" id="points_expense">(<span id="show_points_val">0</span> 积分)</span></td>
              <input type="hidden" name="show_m" id="show_m" >
              
            </tr>
  				</tbody>
  			</table>
  			<table>
<tbody>
<td height="30" width="100">支付方式：</td>
<td width="150"><input type="radio" name="payment_name" value="points" checked/>&nbsp;&nbsp;账户积分</td>
<?php foreach ($arr as $key => $value): ?>
<td>
  <p>(您的账户剩余<span><?= $value['points']?></span>点积分)</p>
</td>
<?php endforeach ?>
            <?php foreach ($data as $key => $value): ?>
            <tr>
            <td></td>
              <td width="150"><input type="radio" name="payment_name" value="<?= $value['typename']?>" id="payment_name" />&nbsp;&nbsp;<img src="logo/<?= $value['typename']?>.gif" alt="" width="88" height="30"/></td>
              <td> <p>(<?= $value['p_introduction']?>)</p></td>
            </tr>
             <?php endforeach ?>
</tbody>
  			</table>
  			<input class="but130lan intrgration_but" type="submit" name="submit" value="充值">
  		</div> 
      </form>
  	</div>
  </div>
  <div class="clear"></div>
</div>
</body>
</html>