<?php
use yii\helpers\Url;
?>
<head>
<meta content="text/html; charset=utf-8" />
<link href="cas/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="cas/js/jquery-1.9.1.min.js"></script>

</head>


<script type="text/javascript">
//全选
$(function(){
  
  //全选/全不全
  $(document).on('click','#chk',function(){
    if ($(this).prop('checked') == true) {
      $("[name=bb]:checkbox").prop('checked',true);
    }else {
      $("[name=bb]:checkbox").prop('checked',false);
    }
  })

})
</script>


<div class="admin_main_nr_dbox">
<div class="pagetit">
</div>
<div class="toptip">
  <h2>提示：</h2>
  <p>
系统默认分类不能删除！<br />
删除分类组将同时删除此组下的所有分类
</p>
</div>
  <form id="form1" name="form1" method="post" action="?act=del_group">
 
    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan"  >
    <tr>
      <td height="26" class="admin_list_tit admin_list_first" >
      <label id="chkAll"><input type="checkbox" name="checkall" title="全选/反选" id="chk"/>分类组名称</label></td>
    <td  class="admin_list_tit">调用名</td>
    <td   align="center"  class="admin_list_tit">类型</td>
      <td width="20%"   class="admin_list_tit">操作</td>
    </tr>
  <?php foreach ($rests as $key => $value): ?>
    
  
     <tr>
      <td   class="admin_list admin_list_first" >
      <input type="checkbox" class="checkname" name="bb" />
    <a href=""><?= $value['g_name'];?></a>
    </td>
     <td  class="admin_list">
     <?= $value['g_alias'];?>
      
</td>
          <td align="center"  class="admin_list">
<?php
    if ($value['g_name'] == "1")
    {
      echo "系统分类";
    }else
    {
      echo "自定义分类组";
    }
?>
     </td>
      <td class="admin_list">
    <a href="<?=Url::to(['assorting/restsshow'])?>&tj=<?= $value['g_alias'];?>">查看</a>&nbsp;&nbsp;
   
   
    
    </td>
    </tr>
<?php endforeach ?>
  </table>
  <table width="100%" border="0" cellspacing="10"  class="admin_list_btm">
<tr>
        <td width="305" align="right">
    
      </td>
      </tr>
  </table>
  </form>
</div>

</body>
</html>