<?php
use yii\helpers\Html;
use yii\widgets\ActiveForm;
use yii\helpers\Url;
?>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/login.css" />
</head>
<body>
<div class="page">
	<div class="loginwarrp">
		<div class="logo">管理员登陆</div>
        <div class="login_form">
			<?php $form = ActiveForm::begin(['action'=>['login/login']]) ?>
				<li class="login-item">
					<span>用户名：</span>
					<input type="text" name="admin_name" class="login_input">
				</li>
				<li class="login-item">
					<span>密　码：</span>
					<input type="password" name="pwd" class="login_input">
				</li>
				<li class="login-item verify">
					<span>验证码：</span>
					<input type="text" name="CheckCode" class="login_input verify_input">
				</li>
				<img src="<?=Url::to(['login/code'])?>" border="0" class="verifyimg" />
				<div class="clearfix"></div>
				<li class="login-sub">
					<input type="submit"  value="登录" />
				</li>                      
          <?php ActiveForm::end() ?>
		</div>
	</div>
</div>
</body>
</html>
<script src="js/jquery.min.js"></script>
<script>
$('.verifyimg').click(function(){
	location.reload();
})
</script>